a:link {
    text-decoration: none;
}

#board-write-wrapper {
    display: flex;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.05);
}

.board-write-container {
    padding: 100px 24px;
    width: 800px;
/*  min-height: 1952px; */
    background-color: rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.board-write-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.board-write-title-box {
    width: 100%;
}

.board-write-title-input {
    width: 100%;
    border: none;
    outline: none;
    background: none;

    color: rgba(0, 0, 0, 1);

    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
}

/* 2024-04-18 : 40강 16분 부터 다시*/
.board-write-content-box {
    width: 100%;
    display: flex;
    gap: 16px;
}

.board-write-content-textarea {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    resize: none;

    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    height: 200px;
}

.board-write-images-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.board-write-image-box {
    position: relative;
    width: 100%;
}

.board-write-image {
    width: 100%;
}

.image-close {
    position: absolute;
    top: 20px;
    right: 20px;
}

#book-write-wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.05);

}

.book-write-container {
    padding: 100px 24px;
    width: 800px;
/*  min-height: 1952px; */
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.my_main_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 15px;
    margin-bottom: 30px;
}

.my_main_item {
    border: 1px solid rgb(185, 185, 185);
    box-shadow: 0px 5px 5px 0px;
}

.my_main_item_username {
    border-top: 1px solid rgb(185, 185, 185);
    padding: 5px 0px;
}

.my_main_item_username:hover {
    background-color: rgb(255, 85, 68);
}

.my_main_item_thumnail {
    height: 200px;
    border-bottom: 1px solid rgb(25, 25, 25);
}

.pagination:li {
    display: inline-block;
}

.page {
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid #111;
    margin-left: 5px;
}

.page:hover {
    background-color: blanchedalmond;
    cursor: pointer;
}

.page.active {
    background-color: blanchedalmond;
}

#totalLoveCnt {
    padding-left: 3px;
}

#love, #unlove {
    cursor: pointer;
}